MOOC_ML/download@path=%2F5.625deg%2Fgeopotential_500&files=geopotential_500_5.625deg.zip
MOOC_ML/geopotential_500hPa_1979_5.625deg.nc
MOOC_ML/geopotential_500hPa_1980_5.625deg.nc
MOOC_ML/geopotential_500hPa_1981_5.625deg.nc
MOOC_ML/geopotential_500hPa_1982_5.625deg.nc
MOOC_ML/geopotential_500hPa_1983_5.625deg.nc
MOOC_ML/geopotential_500hPa_1985_5.625deg.nc
MOOC_ML/geopotential_500hPa_1984_5.625deg.nc
MOOC_ML/geopotential_500hPa_1986_5.625deg.nc
MOOC_ML/geopotential_500hPa_1987_5.625deg.nc
MOOC_ML/geopotential_500hPa_1988_5.625deg.nc
MOOC_ML/geopotential_500hPa_1989_5.625deg.nc
MOOC_ML/geopotential_500hPa_1990_5.625deg.nc
MOOC_ML/geopotential_500hPa_1991_5.625deg.nc
MOOC_ML/geopotential_500hPa_1992_5.625deg.nc
MOOC_ML/geopotential_500hPa_1993_5.625deg.nc
MOOC_ML/geopotential_500hPa_1994_5.625deg.nc
MOOC_ML/geopotential_500hPa_1995_5.625deg.nc
MOOC_ML/geopotential_500hPa_1996_5.625deg.nc
MOOC_ML/geopotential_500hPa_1997_5.625deg.nc
MOOC_ML/geopotential_500hPa_1998_5.625deg.nc
MOOC_ML/geopotential_500hPa_1999_5.625deg.nc
MOOC_ML/geopotential_500hPa_2000_5.625deg.nc
MOOC_ML/geopotential_500hPa_2002_5.625deg.nc
MOOC_ML/geopotential_500hPa_2001_5.625deg.nc
MOOC_ML/geopotential_500hPa_2003_5.625deg.nc
MOOC_ML/geopotential_500hPa_2004_5.625deg.nc
MOOC_ML/geopotential_500hPa_2005_5.625deg.nc
MOOC_ML/geopotential_500hPa_2006_5.625deg.nc
MOOC_ML/geopotential_500hPa_2007_5.625deg.nc
MOOC_ML/geopotential_500hPa_2008_5.625deg.nc
.gitignore
MOOC_ML/geopotential_500hPa_2018_5.625deg.nc
MOOC_ML/geopotential_500hPa_2017_5.625deg.nc
MOOC_ML/geopotential_500hPa_2016_5.625deg.nc
MOOC_ML/geopotential_500hPa_2015_5.625deg.nc
MOOC_ML/geopotential_500hPa_2014_5.625deg.nc
MOOC_ML/geopotential_500hPa_2013_5.625deg.nc
MOOC_ML/geopotential_500hPa_2012_5.625deg.nc
MOOC_ML/geopotential_500hPa_2011_5.625deg.nc
MOOC_ML/geopotential_500hPa_2010_5.625deg.nc
MOOC_ML/geopotential_500hPa_2009_5.625deg.nc
